* {
  margin: 0;
  padding: 0;
}

body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
  min-width: 500px;
}

body > * {
  opacity: 1;
  transition: opacity ease-out 1s;
}

body.loading > *:not(.loading-splash) {
  opacity: 0;
}

#main-canvas {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 100px;
  right: 100px;

  width: calc(100% - 200px);
  height: 80%;
  pointer-event: none;
}

.controls {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 300px;
  top: 30px;
  text-align: center;
}

.controls svg {
  position: absolute;
  display: inline-block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
}

.controls svg#fast-clock {
  left: auto;
  right: 0;
}

.controls input[type="range"] {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 20px;
  top: 5px;
  margin: 0 auto;
  background: #ebebeb;
  box-shadow: inset 0 -16px 0 -8px white, inset 0 16px 0 -8px white;
  overflow: hidden;
  outline: 0;
  -webkit-appearance: none;
  cursor: ew-resize;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ddd;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ddd;
}

input[type="range"]::-webkit-slider-thumb:after {
  content: '';
  width: 200px;
  height: 4px;
  position: absolute;
  top: 7px;
  right: 18px;
  -webkit-box-shadow: inset 0 0 0 10px #ddd;
  box-shadow: inset 0 0 0 10px #ddd;
}

#mute {
  display: none;
}

#mute:not(:checked) + label > svg#speaker,
#mute:checked + label > svg#speaker-muted {
  display: block;
}

#mute:not(:checked) + label > svg#speaker-muted,
#mute:checked + label > svg#speaker {
  display: none;
}

label[for="mute"] {
  position: absolute;
  top: 3px;
  right: -18px;
  cursor: pointer;
}

.loading-splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;

  font-weight: 100;
  color: #aaa;
  text-align: center;

  opacity: 0;
}

.loading .loading-splash {
  opacity: 1;
}

.loading-splash, .loading-splash * {
  transition: opacity ease-out 0.5s;
}

.loading-splash .hidden {
  opacity: 0;
}

.loading-splash a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  transition: color, border-color ease-out 200ms;
}

.loading-splash a:hover {
  border-color: #aaa;
  color: #777;
}

.loading-splash ol {
  position: relative;
  list-style: none;
  box-flex: 1;
  font-size: 23px;
  transition: opacity ease-out 1s;
}

.loading-splash ol li {
  margin-bottom: 20px;
}

#loading-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-event: none;
}
